@font-face {
  font-family: 'Avenir';
  src:  url('fonts/Avenir.ttc')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Prompt';
  src:  url('fonts/Prompt-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}


  body{
    font-size: 20px;
    margin: 0;
    font-family: 'Avenir';
    background-color: #FFFFFF;
    overflow-x: hidden;
  }

  h1{
    font-family: 'Prompt';
    line-height: 1;
  }

  .primera{
    height: 100vh;
    background-image: url('../images/primera.jpeg');
    background-size: cover;
    position: relative;
  }
  .grafico img{
    position: absolute;
    bottom: -10%;
    left: -2px;
    width: 100.4%;
  }
  .logo{
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    height: 100px;
    filter: blur(4px);
  }
  .imagen-logo{
    position: absolute;
    top:0;
    width: 100%;
    text-align: center;
  }
  .info-primera{
    padding-top: 8%;
    padding-left: 6%;
    padding-right: 6%;
    color:white;
    text-align: center;
  }
  .info-primera h1{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-shadow: 2px 2px rgba(99, 95, 95, 0.65);
    font-family: 'Prompt';
    text-transform: uppercase;
  }
  .info-primera h5{
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 24px;
    text-shadow: 1px 1px rgba(99, 95, 95, 0.65);
  }
  .segunda{
    height: 100vh;
    background-color: #FAFAFA;
    position: relative;
  }

  .imagen-segunda{
    position: absolute;
    right: 15%;
    width: 20%;
    top: 0;
    z-index: 10;
  }
  .imagen-segunda img{
    width: 100%;
  }

  .info-segunda{
    width: 70%;
    background-color: white;
    position: absolute;
    left: 5%;
    top: 17%;
    padding-right: 14%;
    padding-left: 3%;
    box-shadow: 3px 3px 10px #888888;
  }

  .info-segunda h1{
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #4B314A;
    text-transform: uppercase;
    font-family: 'Prompt';
    font-weight: 700;

  }
  .info-segunda h3{
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #085472;
    font-weight: 700;
    font-family: 'Prompt';
  }
  .info-segunda li{
    font-size: 14px;
    color: #4B314A;
    font-family: 'Avenir';
  }

  .quinta{
    height: 100vh;
    background-image: url('../images/tercera.jpg');
    background-size: cover;
    position: relative;
  }

  .info-quinta{
    color: white;
    width: 60%;
    padding-top: 12%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
  }
  .info-quinta h1{
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 45px;
    line-height: 1;
    text-shadow: 2px 2px rgba(99, 95, 95, 0.65);
    font-family: 'Prompt';
    font-weight: 700;
  }
  .info-quinta h3{
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Prompt';
    font-size: 17px;
    text-shadow: 2px 2px rgba(99, 95, 95, 0.65);
  }
  .form{
    position: relative;
    width: 60%;
  }
  .info-quinta input{
    border-radius: 32px;
    padding: 1%;
    border-width: 0;
    width: 100%;
    padding-left: 10px;
    position: absolute;
    height: 22px;
  }
  .info-quinta button{
    border-radius: 32px;
    background: transparent;
    border: none;
    color: #74086D;
    position: absolute;
    left: 90%;
    font-weight: 900;
    top: -1px;
    cursor: pointer;
  }

  .info-quinta-apps{
    width: 35%;
    margin-left: 10%;
    color: white;
  }
  .info-quinta-apps img{
    border-radius: 12px;
    width: 35%;
    margin-right: 5%;
  }
  .info-quinta-apps h2{
    font-family: 'Avenir';
  }

  .grafico2 img{
    position: absolute;
    bottom: -17%;
    z-index: 9;
    left: 0;
    width: 100.1%;
  }
  .grafico3 img{
    position: absolute;
    bottom: -17%;
    z-index: 9;
    right: -5px;
    width: 109%;
  }
  .prueba{
    /*background-color: #0A5C7C;*/
    background: linear-gradient(#0A5C7C, #073B50);
  }

  .cuarta{
    height: 100vh;
    background-color: #FFFFFF;
    position: relative;
  }

  .imagen-cuarta{
    position: absolute;
    left: 5%;
    width: 45%;
    z-index: 10;
  }
  .imagen-cuarta img{
    width: 100%;
    transform: rotate(25deg);
  }

  .info-cuarta{
    width: 70%;
    background-color: #FAFAFA;
    position: absolute;
    right: 2%;
    top: 17%;
    padding-left: 14%;
    padding-right: 3%;
    box-shadow: 3px 3px 10px #888888;
  }

  .info-cuarta h1{
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #4B314A;
    text-transform: uppercase;
    font-family: 'Prompt';
    font-weight: 700;

  }
  .info-cuarta h3{
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #085472;
    font-weight: 700;
    font-family: 'Prompt';

  }
  .info-cuarta li{
    font-size: 14px;
    color: #4B314A;
    font-family: 'Avenir';
  }
  .tercera{
    height: 100vh;
    position: relative;
    background-color: white;
  }
  .info-tercera1{
    position: absolute;
    color: white;
    top: 4%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 1;
    z-index: 10;
  }
  .info-tercera1 h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4B314A;
    font-family: 'Prompt';
    font-weight: 400;
  }
  .info-tercera2{
    position: absolute;
    color: white;
    bottom: 14%;
    width: 100%;
  }
  .info-tercera2 h1{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #085472;
    font-family: 'Prompt';
    font-weight: 700;
  }

  footer{
    background: linear-gradient(#0B6580, #010C0F);
    position: relative;
    color:white;
    height: 30vh;
  }
  .info-footer{
    position: absolute;
    right: 5%;
    width: 30%;
    bottom: 0;
    text-align: center;
    vertical-align: top;
    height: 18vh;

  }
  .info-footer span{
    font-size: 18px;
    margin-top: 5%;
    /*font-family: 'Prompt';*/
    font-weight: 400;
    font-family: 'Avenir';
  }
  .redes-footer{
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30%;
    vertical-align: top;
    height: 22vh;
  }
  .redes-footer h3{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .redes-footer a{
    margin-right: 5%;
  }
  .politicas-footer{
    position:absolute;
    bottom: 0;
    left: 37%;
    width: 30%;
    vertical-align: top;
    height: 22vh;
  }
  .politicas-footer ul{
    list-style-type: none;
  }
  .politicas-footer li{
    font-size: 14px;
    font-weight: 700;
  }
  .politicas-footer a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
  }
  .boton-bajar {
    position: absolute;
    bottom: 4%;
    width: 5%;
    left: 50%;
    margin-left: -36px;
    cursor: pointer;
    z-index: 11;
    transition-duration: 1s;
  }
  .boton-bajar img {
    width: 70%;

  }
  .boton-bajar2 {
    position: absolute;
    bottom: 8%;
    width: 5%;
    left: 50%;
    margin-left: -36px;
    cursor: pointer;
    z-index: 11;
    transition-duration: 1s;
  }
  .boton-bajar2 img {
    width: 70%;
  }
  .fa {
  color: white;
}
.w3-section{
    width: 100%!important;
    position: absolute !important;
    top: 10%!important;
    text-align: center;
    height: 65vh !important;
}
.w3-content{
  max-width: none !important;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.mySlides{
  /*height: 65vh !important;*/
  width: 100% !important;
  position: absolute;
  height: 65vh;
  border-radius: 2px;
  object-fit: fill;


}
.img-centered{
  position: absolute;
  right : 0%;
  width: 30%;
  bottom: 18%;
  animation: fading 10s infinite;
}

@media  screen and (min-width: 1500px){


  .info-primera h1{
    font-size: 75px;
  }

  .info-primera h5{
    font-size: 36px;
  }
  .info-segunda{
    left: 10% !important;
    top: 20%;
    padding-right: 25%;
    padding-left: 5%;
    position: absolute;
  }
  .info-segunda h1{
    font-size: 60px;
  }

  .info-segunda h3{
    font-size: 30px;
  }

  .info-segunda li{
    font-size: 20px;
  }

  .info-cuarta{
    width: 65%;
    right: 10%;
    top: 20%;
    padding-right: 5%;
    padding-left: 15%;
  }
  .info-cuarta h1{
    font-size: 60px;
  }

  .info-cuarta h3{
    font-size: 30px;
  }

  .info-cuarta li{
    font-size: 20px;
  }

  .info-quinta{
    padding-top: 20%;
  }

  .info-quinta h1{
    font-size: 55px;
    margin-bottom: 40px;
  }

  .info-quinta h3{
    font-size: 22px;
  }
  .info-quinta input{
    height: 37px;
  }

  .info-quinta button{
    top: 3px;
    left: 93%;
  }

  .form{
    width: 75%;
  }

}
